* {padding:0px; margin:0px;}
html,body,.parent-container{
    margin:0;
    height:100%;
    min-width:1200px;
    overflow:hidden;
}

.left-container{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:200px;
}

.right-container{
    position:absolute;
    padding-top:0px;
    left:200px;
    top:0;
    bottom:0;
    right:0;
    overflow: auto;
}
